



.wrapper {
  height: 100vh;
}
@media (min-width: 0){
 .container {

  display: flex;
  width: calc(100% - 80px);
 }
 
  .container:after {
    content: " ";
    display: block;
    clear: both;
  }


}






.header_section {
  position:absolute;
  width: 100%;

  max-height: 800px;
}

.header_left {
  width: 55%;
  height: 800px;
  margin-right: 0;
  left: 0;
  background-color: #5551F7;
}

.header_right {
  width: 55%;
  margin-right: 0;
  height: 800px;


  right: 80px;

 opacity: 50%;
 background-color: #000000;

   background: url("../img/tanks.png") no-repeat ;
}

.nav_right {
  position: absolute;
  width: 80px;
  height: 2488px;
  background-color: #D6D6D6;
  top: 0;
  right: 0;
}



.nav_right__burger {
  display: block;
    border-radius: 5px;
    background-color: transparent;
    margin-left: 19px;
    height: 38px;
    width: 47px;
    cursor: pointer;
    padding: 8px 8px;
    margin-top: 35px;
}

.nav_right__burger span {
  position: relative;
  display: block;
  height: 2px;
  width: 100%;
  margin-top: 4px;
  background-color: #000;
  transition: all .25s;
}

.nav_right__text {
  position: absolute;
  right: 13px;
  top: 77px;
  font-size: 14px;
line-height: 16px; 
 text-align: right; 
 letter-spacing: 0.1em; 
text-transform: uppercase; 
color: #1C1C1C;
  transform: rotate(90deg);

}

.nav_right__text_arrow {
  position: absolute;
  right: 26px;
  top: 855px;
  font-size: 14px;
line-height: 16px; 
 text-align: right; 
 white-space: nowrap;
 letter-spacing: 0.1em; 
width: 20px;

color: #1C1C1C;
  transform: rotate(90deg);
}



.header__logo {
  margin-top: 33px;

  margin-right: 20px;

}

.logo_container {
  margin-left: 80px;
  margin-top: 30px;
  padding-right: 20px;
  display: flex;
}

.logo_text {
font-weight: bold;
margin-top: 45px;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
}


.navmenu_left {
  position:absolute;

  top: 236px;
  left: 86px;
  padding-left: 0;


}
.navmenu_left_list {
  display: inline-flex;
  list-style: none;
  padding-left: 0;



}

.vector_left {
  opacity: 0.5;
color: #F6F6F6;
}

.navmenu_left_item {
  font-size: 14px;
line-height: 160%;
color: #F6F6F6;

opacity: 0.5;
margin-right: 9.64px;
}


.title_left {
  position: absolute;
  font-weight: 500;
  font-size: 84px;
line-height: 100%;
color: #F6F6F6;
height: 110px;
left: 80px;
top: 278px;
font-style: normal;
}

.line_left {
  position: absolute;
  width: 830px;
  height: 1px;
  top: 583px;


}

.line {
  content: "";
  height: 1px;
  width: calc(100% + 160px); 
  margin-left: -80px;
 
  background-color: #F6F6F6;
}


.line_text {
 

   width: 720px;
height: 120px;
left: 80px;
top: 632px;
font-weight: 300;
font-size: 25px;
line-height: 160%;
color: #F6F6F6;
padding: 5px 66px; 

}

.navmenu_right {

  left: 960px;
top: 44px;


}

.navmenu_right_list {
  display: inline-flex;
  list-style: none;
  margin-top: 44px;
  margin-left: 80px;
  
  width: 100px;
height: 17px;




}

.navmenu_right_item {



 opacity: 0.5; 


font-size: 14px;
line-height: 16px;


letter-spacing: 0.1em;
text-transform: uppercase;
margin-right: 80px;



color: #F6F6F6;
}

.navmenu_right_item:hover {
  opacity: 3;
  color: #fff;

}


.about_section {
  position: relative;
  display: inline-flex;

 left: 0px;
top: 764px;
height: 847px;
}

.about_title {
  left: 80px;
}

.about_title_text {
  width: 135px;

margin-left: 80px;
margin-top: 136px;
font-weight: 300;
font-size: 47px;
line-height: 150%;



color: #000000
}

.about_text {
  width: 1200px;
height: 120px;
   margin-top: 136px;
  margin-left: 345px;
  font-style: normal;
right: 136px;
font-size: 25px;
line-height: 40px;
}





.container_about_title {
  display: flex;
  list-style: none;
}

.title_transport {
  width: 135px;
  
  margin-left: 80px;
  margin-top: 96px;
  font-weight: 300;
  font-size: 47px;
  line-height: 150%;
  color: #000000;
}

.about_context {
  margin-top: 125px;
  padding-left: 0;
}

.about_context__transport {
  padding-left: 0;
  margin-top: 52px;
}

.about_image {
  
}

.about_item {
  display: flex;
}

.about_content {
  width: 800px;
height: 189px;
}

.about_content_item {
  font-size: 18px;
line-height: 180%;
padding-left: 80px;
width: 880px;
height: 189px;
margin-top: 0;



color: #101010;
}

.about_content_item_title{
  font-weight: 300;
font-size: 25px;
line-height: 160%;





color: #000000;
}

.transoprt_section {
  position: relative;
  top: 1089px;
}

.about_content_transport {
  

}

.about_content_auto {
  width: 960px;
  height: 310px;
  padding-top: 75px;
  padding-left: 80px;
}

.about_transport_railway {
  width: 960px;
   height: 289px; 
  padding-left: 80px;
}

.about_content_auto:hover {
  background: #C4C4C4;
}

.about_transport_railway:hover {
  background: #C4C4C4;
}

.about_transport_item {
  font-size: 18px;
line-height: 180%;
/* padding-left: 80px; */
width: 880px;
/* height: 189px; */
margin-top: 0;



color: #101010;
}


@media(max-width: 1300px) {
  .line_text {
    width: 640px;
  }

  .navmenu_right_list {
    display: none;
  }
  .container_about_title {
    display: flex;
  }

.about_text {
  width: 500px;
    /* height: 120px; */
    margin-top: 136px;
    margin-left: 275px;
    font-style: normal;
    right: 136px;
    font-size: 16px;
    line-height: 40px;
}
.about_context {
 
  height: 336px;
}

.about_content_item {
  font-size: 15px;
  /* line-height: 177%; */
  padding-left: 80px;
  width: 90%;
  height: 136px;
  margin-top: 0;
  color: #101010;
  /* word-break: break-word; */
}

.about_image {
  width: 30%;
}

.about_content_auto {
  width: 960px;
  height:200px; 
  padding-top: 0;
}

  

}
